*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #333;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
}

.navbar-toggler {
    font-size: 24px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

#logo{
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
    align-items: flex-start;
    color: white !important;
    }

    #logo{
        width: 80%;
    }

    #imgnav{
        width: 80% !important;
        justify-content: center;
    }

    .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 5%;
    }

    .navbar-toggle:checked ~ .navbar-menu {
    display: flex;
    }
}

#que{
    display: grid;
    grid-template-columns: 50% 50%;
}
#txtdrop{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10%;
    justify-content: center;
    vertical-align: middle;
}
#imgdrop{
    width: 100% !important;
    text-align: center;
}
#imgdr{
    width: 100%!important;
}
#tit{
    width: 100%;
    text-align: center ;
}
#link{
    width: 100%;
    text-align: center;
}
#linketapas{
    text-decoration: none;
    color: black;
}
#etapas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100px;
    width: auto;
    text-align: center;
}
#bancos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
#bancos2{
    display: grid;
    grid-template-columns: 25% 25% 25%;
}
#banco{
    width: 100%;
    display: flex;
    align-items: center;
}